<!-- <p id="notice"><%= notice %></p> -->

<div class="card container text-center">
  <div class="display-4 text-center py-3">
  <br>

    <%= "#{@note.notable.projectable.name} #{@note.notable.category}" if @note.notable_type == "Project"  %>

    <%= "#{@note.notable.name}"  if @note.notable_type == "Client" %>


    <div style="font-size:60%;">
      (<%= @note.notable.class %> Note)
    </div>
  </div>

  <br><hr><br>

  <div class="card display-4 p-8 text-center" style="font-size:120%;">



    <!-- Edit Note -->
    <span>
      <span class="float-right" type="" data-toggle="modal" data-target="#NoteModal <%= @note %>">
        <!-- Edit Icon -->
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </span>
    </span>



      <div>
        <p style="font-size:120%;">Title:</p>
        <%= @note.title %>
      </div>
       <br>
      <div>
        <p style="font-size:120%;">Body:</p>
        <%= @note.body %>
      </div>
  </div>
      <br><br><br>
</div>

<br>
<div class="text-center">
  <%= link_to 'Back', :back, class:"btn btn-primary", style: 'color:#FFFFFF;' %>
</div>

<!-- Note Modal Begin -->
<div class="modal fade" id="NoteModal <%= @note %>" tabindex="-1" role="dialog" aria-labelledby="NoteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NoteModalLabel">
        Editing Note
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="display-4 text-center">

          <!-- Note Update Form -->
            Edit Note
            <span class="pt-10"></span>
            <div style="font-size:20%;">
              <%= render partial: "notes/edit" %>
            </div>


        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-danger">
          <%= link_to 'Delete',  @note, method: :delete, data: { confirm: 'Are you sure you would like to delete this  @note?' }, class:"text-white hover:text-red-700 " %>
        </button>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!-- Note Modal End -->
