<div class="card">
  <br>
  <span class="display-4 text-center">
    <strong>
    <p style="font-size:50%;">
      <%=  commentable.comments.count %> <%= "#{commentable.comments.size == 1 ? 'Comment:' : 'Comments:'}"%>
    </p>
  </strong>
  </span>

<% commentable.comments.reverse.each do |comment| %>
  <div class="">
    <div class="card p-8">
      <%#= link_to "#{comment.body}", comment %>
        <div class="text-center">
            <span>

              <!-- Edit Comment -->
              <span class="float-right" type="button" data-toggle="modal" data-target="#CommentModal">
                Edit
              </span>


              <!-- Comment Modal Begin -->
              <div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="CommentModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="CommentModalLabel">
                      <!-- Comment Title -->
                      </h5>

                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="display-4 text-center">

                        <!-- Comment Update Form -->
                        <%= form_for [commentable, comment] do |f| %>
                        <!-- <div class="form-group">
                          <%= f.label :user_id%>
                          <%= f.text_field :user_id, class:"form-control", :value => current_user.id %>
                        </div> -->
                        <br>
                        <div class="form-group">
                          <%= f.text_field :body, class:"form-control" %>
                        </div>
                         <hr>
                        <%= f.submit "Update Comment", class:"btn btn-primary"%>
                        <% end %> <!-- Comment Form End -->

                      </div>
                      <br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Comment Modal End -->

              <br>

              <span class="float-right">
                <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure you would like to delete this comment?' } %>
              </span>

             </span>
            <%= comment.body %>
        </div>
    </div>
    <br>
  </div>
<% end %>

<br>
</div>
