<!-- <p id="notice"><%#= notice %></p> -->
<div class="card container text-center">
<br>
<div class="display-4 text-center py-5">
  <%= @client.name %>'s Projects
  <br>
  <%= link_to 'View Client', @client, class:"btn btn-outline-primary btn-lg", style: 'color:blue' %>

</div>
<hr>

<br>


<% @projects.each do |project| %>
    <div class="card">
      <br>
      <br>
      <div class="field display-4"  style="font-size:200%;">

        <%= project.category.capitalize %> for <%= project.projectable.name %>
        <% if project.projectable.type_of_project.present? %> (<%= "#{client.type_of_project.capitalize}"%>) <% end %>

      </div>
      <div class="field display-4"  style="font-size:125%;">
      <%= project.projectable.phone_number %>
      </div>
      <div class="field display-4"  style="font-size:125%;">
      <%= project.projectable.email %>
      </div>
      <div class="field display-4"  style="font-size:125%;">
      <%= project.full_street_address %>
      </div>
      <div>
        <br>
      <%= link_to 'View Project', project, class:"btn btn-outline-primary", style: 'color:blue' %>
      <br>
      <br>
      </div>
    </div>
    <br>
<% end %>

<br>

</div>

 <br>
<div class="text-center">
<%= link_to 'Back', :back, class:"btn btn-primary", style: 'color:#FFFFFF;' %>
</div>
<br>
