<h1>User#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<!-- <p id="notice"><%#= notice %></p> -->
<div class="card container text-center">
<br>
<div class="display-4 text-center py-5"> KanBan </div>
<hr>
<%= link_to 'Add New Client',  new_user_client_path(current_user), class:"btn-success btn-lg", style: 'color:#FFFFFF;' %>

<br>

<% current_user.clients.each do |client| %>
    <div class="card">
      <br>
      <br>
      <div class="field display-4"  style="font-size:200%;">
      <%= client.name %> <% if client.type_of_project.present? %> (<%= "#{client.type_of_project.capitalize}"%>) <% end %>

      </div>
      <div class="field display-4"  style="font-size:125%;">
      <%= client.phone_number %>
      </div>
      <div class="field display-4"  style="font-size:125%;">
      <%= client.email %>
      </div>
      <div class="field display-4"  style="font-size:125%;">
      <%= client.full_street_address %>
      </div>
      <div>
        <br>
      <%= link_to 'View Client', client, class:"btn btn-outline-primary", style: 'color:blue' %>
      <br>
      <br>
      </div>
    </div>
    <br>
<% end %>

<br>

</div>

 <br>
<div class="text-center">
<%= link_to 'Back', :back, class:"btn btn-primary", style: 'color:#FFFFFF;' %>
</div>
<br>
