<%#= form_with(model: property, local: true) do |form| %>

<div class="card container text-center">
  <br>
  <div class="display-4 text-center py-5"> Editing Property </div>
  <hr>
  <br>

  <form id="location-form">
    <input type="text" id="location-input" class="form-control form-control-lg">
    <br>
    <br>
    <button type="submit" id="submit-address" class="btn-success btn-lg">Search Address</button>
  </form>

<%= form_with(model: @property, local: true) do |form| %>

  <br>

  <div class="container">
    <div class="btn btn-outline-secondary reset">
      Clear Fields
    </div>
  </div>

  <br>
  <hr>

  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="field display-4"  style="font-size:200%;">
    <%= form.label :link %>
    <br>
    <%= form.text_field :link %>
  </div>

  <div class="field display-4"  style="font-size:200%;">
    <%= form.label :description %>
    <br>
    <%= form.text_field :description %>
  </div>

  <br>
  <hr>
  <br>

  <div id="scroll-to-address"></div>


  <div id="invalid-address" class="hidden">
    <div class=" container display-4" style="font-size:300%; color:red;">
      Invalid Address
    </div>
  </div>

  <div id="address-form">
    <div class="field display-4"  style="font-size:200%;" id="property-address">
      <%= form.label :address %>
      <br>
      <%= form.text_field :address %>
    </div>

    <div class="field display-4"  style="font-size:200%;" id="property-city">
      <%= form.label :city %>
      <br>
      <%= form.text_field :city %>
    </div>

    <div class="field display-4"  style="font-size:200%;" id="property-state">
      <%= form.label :state %>
      <br>
      <%= form.text_field :state %>
    </div>

    <div class="field display-4"  style="font-size:200%;" id="property-zip">
      <%= form.label :zip %>
      <br>
      <%= form.text_field :zip %>
    </div>

    <div class="field hidden" id="geometry-lat">
      <%= form.label :latitude %>
      <br>
      <%= form.text_field :latitude %>
    </div>

    <div  class="field hidden" id="geometry-lng">
      <%= form.label :longitude %>
      <br>
      <%= form.text_field :longitude %>
    </div>
 </div>

  <br>
  <br>

  <div class="actions text-center container">
    <%= button_tag(type: 'submit', class: "btn btn-info btn-lg") do %>
     Create Property
    <% end %>
  </div>

  <br>
  <hr>
  <br>

  <div class="actions text-center container">
    <%= link_to 'Delete Property', @property, method: :delete, data: { confirm: 'Are you sure you would like to delete this property forever?' }, class:"btn btn-danger btn-lg" %>
  </div>

  <br>

<% end %>

<br>
</div>

<br>
<div>
  <div class="actions text-center" stlye="">
    <%= link_to 'Back', :back, class:"btn-primary btn-lg"  %>
  </div>
</div>

<script>

  var resetFeilds = $(".reset").click(function() {
      $(this).closest('form').find("input[type=text], textarea").val("");
  });

  // Get location form
  var submitAddress = document.getElementById("submit-address");
  submitAddress.addEventListener('click', geocode);

  var addressScrollDown = $("#submit-address").click(function() {
      $([document.documentElement, document.body]).animate({
          scrollTop: $("#scroll-to-address").offset().top
      }, 500);
  });

    function geocode(e){
      // Prevent actual Submit
      e.preventDefault();

      let location = document.getElementById('location-input').value;
      axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
        params:{
          address:location,
          key:'AIzaSyCb7XJAeWDd5AXTQpyjeYIU93Gc7CfUpVk'
        }
      }).then(function(response){
        // console.dir(response);

        // let propertyAddress = response.data.results[0].formatted_address;
        let propertyAddress =  response.data.results[0].address_components[0].long_name + ' ' + response.data.results[0].address_components[1].long_name
        let propertyCity = response.data.results[0].address_components[3].long_name
        let propertyState = response.data.results[0].address_components[5].long_name
        let propertyZip = response.data.results[0].address_components[7].long_name
        let propertyLatitude = response.data.results[0].geometry.location.lat;
        let propertyLongitude = response.data.results[0].geometry.location.lng;

        const addressComponents = [
        propertyAddress ,
        propertyCity ,
        propertyState ,
        propertyZip ,
        propertyLatitude ,
        propertyLongitude
        ]

        let propertyAddressOutput = `
        <div class="field">
            <label for="property_address">Address</label>
            <br />
            <input type="text" name="property[address]" id="property_address" value="${propertyAddress}" >
        </div>
        `;

        let propertyCityOutput = `
        <div class="field">
            <label for="property_city">City</label>
            <br />
            <input type="text" name="property[city]" id="property_city" value="${propertyCity}" >
        </div>
        `;

        let propertyStateOutput = `
        <div class="field">
            <label for="property_state">State</label>
            <br />
            <input type="text" name="property[state]" id="property_state" value="${propertyState}" >
        </div>
        `;

          let propertyZipOutput = `
          <div class="field">
              <label for="property_zip">Zip</label>
              <br />
              <input type="text" name="property[zip]" id="property_zip" value="${propertyZip}" >
          </div>
          `;

          let geometryOutputLat = `
          <div class="field">
              <label for="property_latitude">Latitude</label>
              <br />
              <input type="text" name="property[latitude]" id="property_latitude" value="${propertyLatitude}" >
          </div>
          `;

          let geometryOutputLng = `
          <div class="field">
              <label for="property_longitude">Longitude</label>
              <br />
              <input type="text" name="property[longitude]" id="property_longitude" value="${propertyLongitude}" >
          </div>
          `;

        // Output to app
        document.getElementById('property-address').innerHTML = propertyAddressOutput;
        document.getElementById('property-city').innerHTML = propertyCityOutput;
        document.getElementById('property-state').innerHTML = propertyStateOutput;
        document.getElementById('property-zip').innerHTML = propertyZipOutput;
        document.getElementById('geometry-lat').innerHTML = geometryOutputLat;
        document.getElementById('geometry-lng').innerHTML = geometryOutputLng;

        submitAddress.addEventListener('click', addressScrollDown);


      }).catch(function(error){

        // console.log(error);
        // alert("Address Error. Please enter a valid address. Click OK to continue.");
        // $( ".field" ).effect( "shake" );
        // $( "#invalid-address" ).effect("highlight", {color: 'red'}, 3000);
        $( ".reset" ).trigger( "click" );
        $("#invalid-address").show().delay(2500).fadeOut();


      });


    }



</script>
