<p id="notice"><%= notice %></p>
<div class="card container text-center">

<br>

<div class="display-4 text-center py-5"> My Properties </div>
<hr>

<%= link_to 'Add New Property',  new_user_property_path(current_user), class:"btn-success btn-lg", style: 'color:#FFFFFF;' %>

<br>

<% @properties.each do |property| %>
    <div class="card">
      <br>
      <%= property.full_street_address %>
      <br>
      <%= property.user.email%>
      <br>

      <%= property.longitude %>, <%= property.latitude %>

      <br>
      <div>
        <br>
      <%= link_to 'View Property', property, class:"btn btn-outline-primary", style: 'color:blue' %>
      <br>
      <br>
      </div>
    </div>
    <br>
<% end %>

<br>

<hr>
<div class="text">
<%= link_to 'Back', :back, class:"btn btn-primary", style: 'color:#FFFFFF;' %>
</div>
<br>

</div>
