<div class="card container">

<div class="display-4 text-center py-5"> Property </div>
<hr>

<div class="text-center">
<%= link_to 'Edit Property', edit_property_path(@property), class:"btn btn-outline-secondary" %>
<br>
<br>
<div class="card container">
<br>


<% if @property.link.present? %>
  <strong>Address:</strong>
  <a href="<%= @property.link %>" target="_blank"><%= @property.full_street_address %></a>
<% else %>
  <strong>Address:</strong>
  <%= @property.full_street_address %></a>
<% end %>


<br>
<br>

<div id="map"></div>

<script>

var lat = <%= @property.lat %>;
var lng = <%= @property.lng %>;

// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat, lng};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 14, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUrlQaMPYAMf2W6vaHFF7ufv-Bp6A7dZo&callback=initMap">
</script>

<br>
</div>

<br>

<div class="text-center">

<%= link_to 'Back', :back, class:"btn btn-primary", style: 'color:#FFFFFF;' %>
</div>
<br>
