<!-- <p id="notice"><%#= notice %></p> -->

<%#= link_to "Clients", user_clients_path(current_user) %>
<div class="card container text-center">
<br>
<div class="display-4 text-center py-5">
  My Clients
  <div style="font-size:60%;">
    <%=  @clients.count %> <%= "#{@clients.size == 1 ? 'Client' : 'Clients'}"%>
  </div>
</div>
<hr>

<%= link_to 'Add New Client',  new_user_client_path(current_user), class:"btn-success btn-lg", style: 'color:#FFFFFF;' %>

<br>

<!-- <%= form_tag user_clients_path, :method => 'get'  do %>
  <%= text_field_tag :search_data, params[:search_data]%>
  <%= submit_tag "Search", :name => nil  %>
<% end %> -->

<% @clients.each do |client| %>
    <div class="card p-2">


      <span style="font-size:100%;">
        <% if client.checkins.any? %>
          <span class="date float-left pl-2 pt-2" style="color:green;" >
            Last Check-In:
            <% if client.checkins.last.time_contacted.present? %>

              <%="#{client.checkins.last.time_contacted.strftime("%m-%d-%y")}"  %>

            <% else client.checkins.last.created_at %>


              <%="#{client.checkins.last.created_at.strftime("%m-%d-%y")}" %>

              <div>
              <button class="text-black opacity-0 hover:opacity-100 ">Hello</button>
            </div>

            <% end %>
          </span>
        <% end %>
      </span>

      <br>
      <div class="field display-4"  style="font-size:200%;">
        <%= client.name %>
        <br>

        <!-- <span style="font-size:80%; color:green;">
        <%= client.projects.count %> Active Projects
        </span> -->

        <% if client.projects.count == 1 %>
            1 Project
        <% elsif client.projects.count == 0 %>
            0 Projects
        <% else %>
        <%= client.projects.count %> Projects
        <% end %>

        <div style="font-size:60%;">
        <%= client.phone_number %>
        </div>
        <div style="font-size:60%;">
        <%= client.email %>
        </div>
        <div style="font-size:60%;">
        <%= client.full_street_address if client.address.present? %>
        </div>
        <% if client.description.present? %>
        <div style="font-size:60%;">
        <br>
        <%= client.description %>
        </div>
        <% end %>
      </div>

      <div>
        <br>
        <%= link_to 'View Client', client, class:"btn btn-outline-primary", style: 'color:blue' %>
        <% if client.projects.count == 1 %>
          <a class="btn btn-outline-primary" style="color:blue" href="<%="/clients/#{client.id}/projects/#{client.projects.last.id}"%>">View Project</a>
        <% elsif client.projects.count > 1 %>
          <%= link_to 'View Projects', client_projects_path(client), class:"btn btn-outline-primary", style: 'color:blue' %>
        <% end %>

      <br>
      <br>
      <br>
      </div>
    </div>
    <br>
<% end %>

<br>

</div>

 <br>
<div class="text-center">
<%= link_to 'Back', :back, class:"btn btn-primary", style: 'color:#FFFFFF;' %>
</div>
<br>
