<div class="card container">

  <!--Last Check in  -->
  <% if @client.checkins.any? %>
    <span class="date float-left p-2" style="color:green;">
      Last Check-In:
      <% if @client.checkins.last.time_contacted.present? %>
        <%= "#{@client.checkins.last.time_contacted.strftime("%m-%d-%y")}"  %>
        <%#= "#{@client.checkins.last.time_contacted.strftime("%m-%d-%y")} at #{@client.checkins.last.time_contacted.strftime("%I:%M %p") }"  %>
      <% else @client.checkins.last.created_at %>
        <%= "#{@client.checkins.last.created_at.strftime("%m-%d-%y")}" %>
      <% end %>
    </span>
  <% end %>


<div class="display-4 text-center py-10">
  <%= @client.name %> <%= "(#{@client.type_of_project})" if @client.type_of_project.present? %>
</div>

<br>



  <div class="container-fluid text-center">
    <div class="row ">

      <div class="col-md-4 card p-2 mt-4">
          <%= render partial: "checkins/checkins", locals: {checkinable: @client}%>
      </div>

      <div class="col-md-4 card p-2 mt-4">
        <span class="display-4">
          <strong>
            <p style="font-size:50%;">
              Client Info:
            </p>
          </strong>
          <hr>
          <span>
          <%= link_to 'Edit Client', edit_client_path(@client), class:"btn btn-lg btn-outline-secondary", style:"width:80%;" %>
          </span>
          <hr>
        </span>

        <div class="-mt-4 display-4" style="font-size:125%;">

            <% if @client.phone_number.present? %>
              <div class="p-10">
                <strong>Phone:</strong>
                <%= @client.phone_number %>
              </div>
              <hr>
            <% end %>

            <% if @client.email.present? %>
              <div class="p-10">
                <strong>Email:</strong>
                <%= @client.email %>
              </div>
              <hr>
            <% end %>

            <% if @client.description.present? %>
              <div class="p-10">
                <strong>Description:</strong>
                <br>
                <%= @client.description %>
              </div>
            <% end %>

            <br>
            <br>
        </div>
      </div>

      <div class="col-md-4 card p-2 mt-4">
        <%= render partial: "projects/projects", locals: {projectable: @client}%>
      </div>

    </div>
  </div>

<div class="text-center">


    <div class="card container">
    <br>

    <% if @client.address.present? %>
    <strong>Address:</strong>
    <%= @client.full_street_address %></a>

    <br><br>
    <div id="map"></div>
    <br>

    <% else %>

    <div class="display-4 text-center py-5">
      <div style="font-size:60%;">
        Client Address Not Available.
        <br>
        Click <%= link_to 'Here', edit_client_path(@client) %> to Add Client Address

      </div>
    </div>


    <% end %>
  </div>
  <br>
  <%= render partial: "comments/comments", locals: {commentable: @client}%>
  <%= render partial: "comments/form", locals: {commentable: @client}%>
  <br>
</div>




</div>
<br>
<div class="text-center">
  <%= link_to 'Back', :back, class:"btn btn-primary", style: 'color:#FFFFFF;' %>
</div>

<script type="text/javascript">

var lat = <%= @client.lat %>;
var lng = <%= @client.lng %>;

// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat, lng};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 14, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUrlQaMPYAMf2W6vaHFF7ufv-Bp6A7dZo&callback=initMap">
</script>
