<%#= render "clients/dashboard" %>

<!-- <p id="notice"><%#= notice %></p> -->

<% if @on_dash == true %>
  <div class="text-gray-600 text-center display-4" style="font-size:150%;">
    Welcome <%= current_user.email %>
  </div>

<% end %>

<div class="card container text-center py-5">
<br>
<div class="display-4 text-center ">
  Dashboard
</div>

<!-- <form class="form-inline">
  <div class="container">
     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </div>
</form> -->

<br>

  <div class="flex-grid display-4"  style="font-size:150%;">


  <%= link_to(user_clients_path(current_user)) do %>
  <span class="col border-solid border p-2">
    <%=  @clients.count %> <%= "#{@clients.size == 1 ? 'Client' : 'Clients'}"%>
  </span>
  <% end %>

  <%= link_to(all_projects_path) do %>
  <span class="col  border-solid border p-2">
    <%=  @projects.count %> <%= "#{@projects.size == 1 ? 'Project' : 'Projects'}"%>
  </span>
  <% end %>

  <!-- <span class="col">
  </span> -->

  </div>

  <br>

<hr>
<%= link_to 'Add New Client',  new_user_client_path(current_user), class:"btn-success btn-lg", style: 'color:#FFFFFF;' %>
<br>
<div id="map"></div>
<br>
</div>

 <br>
<div class="text-center">
<%= link_to 'Back', :back, class:"btn btn-primary", style: 'color:#FFFFFF;' %>
</div>

<script>
      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2.9,
          center: {lat: 38.81201, lng: -97.504928}
        });

        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var commaSeperatedLabels = labels.split('')

        // alert(labels.split(''))

        var locations = []

        <% @valid_clients.each do |location| %>
          var lat = <%= location.lat %>;
          var lng = <%= location.lng %>;
          locations.push({"lat":lat,"lng":lng})
        <% end %>

        var chars = "overpopulation".split('');
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

      }
</script>


<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUrlQaMPYAMf2W6vaHFF7ufv-Bp6A7dZo&callback=initMap">
</script>
