<link href="https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap" rel="stylesheet">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">PropertyBuddy</a>

    <%= link_to "Welcome #{current_user.email}", dashboard_path, class:"navbar-brand", style: 'color:#FFFFFF;' if current_user %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <% if current_user %>

          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Test Page", pages_test_page_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Properties", user_properties_path(current_user), class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Account Settings", edit_user_registration_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
             <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"nav-item nav-link" %>
          </li>

        <% else %>

          <li class="nav-item">
            <%= link_to "About", pages_about_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In",  new_user_session_path, class:"nav-link"   %>
          </li>
          <li class="nav-item">
            <%= link_to "Register",   new_user_registration_path, class:"nav-link"   %>
          </li>

        <% end %>

      </ul>
    </div>
  </div>
</nav>

<a href="#myDiv" id="myButton">

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/1396132/pexels-photo-1396132.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">First Slide</h2>
            <p class="lead">This is a description for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/3100371/pexels-photo-3100371.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Second Slide</h2>
            <p class="lead">This is a description for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/3225640/pexels-photo-3225640.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Third Slide</h2>
            <p class="lead">This is a description for the third slide.</p>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

    </div>

      <h1 class="centered"> Property Buddy </h1>

  </header>


</a>


<div>
<div class="well text-center">
    <div class="row">
        <div class="col-md-6">
            <a href="#"><img class="well-img" src="http://lorempixel.com/400/200/" alt="inn_logo"></a>
        </div>
        <div class="col-md-6">
            <a href="#"><img  class="well-img" src="http://lorempixel.com/g/400/200/" alt="ccs_logo"></a>
        </div>
    </div>
</div>
</div>

<div id="myDiv">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
</div>

<!-- <img src="https://via.placeholder.com/540x360" alt=""> -->


<script type="text/javascript">
function (){

  $('.carousel').carousel({
    // interval: 90000
    // interval: 70000
    interval: 1000
  })


  $('#myButton').click(function() {
     $.scrollTo($('#myDiv'), 90000);
  });

}
</script>
