<p id="notice"><%#= notice %></p>

<div class="card py-5 text-center">
  <h1>
    Planning Page
  </h1>
</div>

<br>

<div class="card py-5 text-center">
  <h1> General Notes </h1>
  <h4> Sections: Contacts, Clients, Projects </h4>
  <h4>-Every section should be editable at any point </h4>
</div>

<br>

<div class="card py-5 text-center">
  <h2> Contacts </h2>
  <p> Title: Client/Business/Sub Contractor/Custom(blank text field) </p>
  <p> Should show field to create as client, then upon creation client will also be added as a contact. </p>
  <p> First & Last Name </p>
  <p> Phone </p>
  <p> Email </p>
  <p> Address Fields </p>
  <p> Description </p>
</div>

<br>

<div class="card py-5 text-center">
  <h2> Client </h2>
  <p> (inheirets feilds from contact, if any fields left blank from contact show missing fields)</p>
  <p> First & Last Name </p>
  <p> Phone </p>
  <p> Email </p>
  <p> Address Fields </p>
  <p> Description </p>
</div>

<br>

<div class="card py-5 text-center">
  <h2>Project</h2>
  <br>
  <p> (inheirets feild from contact, if any fields left blank from contact show missing fields)</p>
  <p> Project Owner (Client, Business, etc) </p>
  <p> Type of Project (should be able to select multiple project types) Doors/Windows/Roof/Custom(blank text field) </p>
  <p>Start Date</p>
  <p>Estimated End Date</p>
  <p>Project Estimated Cost</p>
  <p>Project Cost</p>
  <p> Project Status (signed, production:(material list, permit package, scheduling), in_progress, completed) </p>
  <p>End date(When project marked completed should automatically update end date)</p>
  <p> Check-ins with description & record of project_status when check_in is created </p>
  <p> Address fields </p>
  <p> Description </p>
</div>

<br>

<div class="card py-5 text-center">
  <h2> aaaa </h2>
</div>

<br>














<!-- **********************  ********************** -->
<!-- **********************  ********************** -->
<!-- **********************  ********************** -->
<!-- **********************  ********************** -->


<!-- <div class="card py-5 text-center">
  <%= link_to "View My Clients", user_clients_path(current_user), class:"display-4 no-decoration-link" %>
</div>


<br>
<hr>
<br>

<div class="card container text-center py-5">

  <%= link_to 'Add New Client',  new_user_client_path(current_user), class:"btn-success btn-lg", style: 'color:#FFFFFF;' %>

  <br>
  <div id="map"></div>
  <br> <hr>
  <div class="tex">
  <%= link_to 'Back', :back, class:"btn btn-primary", style: 'color:#FFFFFF;' %>
  </div>
  <br>

</div> -->

<!-- ********************** Scripts ********************** -->
<!-- ********************** Scripts ********************** -->
<!-- ********************** Scripts ********************** -->
<!-- ********************** Scripts ********************** -->
<!-- ********************** Scripts ********************** -->
<!-- ********************** Scripts ********************** -->
<!-- ********************** Scripts ********************** -->

<script>
      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2.9,
          center: {lat: 38.81201, lng: -97.504928}
        });

        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var commaSeperatedLabels = labels.split('')

        // alert(labels.split(''))

        var locations = []

        <% @clients.each do |location| %>
          var lat = <%= location.lat %>;
          var lng = <%= location.lng %>;
          locations.push({"lat":lat,"lng":lng})
        <% end %>

        var chars = "overpopulation".split('');
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

      }
</script>


<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUrlQaMPYAMf2W6vaHFF7ufv-Bp6A7dZo&callback=initMap">
</script>
