<%= form_for [projectable, Project.new] do |f| %><!-- Project Form Begin -->

     <!-- <div class="form-group">
       <%= f.label :user_id%>
       <%= f.text_field :user_id, class:"form-control", :value => current_user.id %>
     </div> -->

     <div class="form-group">
       <%= f.label :title %>
       <%= f.text_field :title, class:"form-control" %>
     </div>

     <div class="form-group px-8">
            <label for="project_category">Project Type</label>
            <select class="form-control" name="project[category]" id="project_category">
              <option value="" disabled selected> -- Select an option -- </option>
              <option value="Other">Other</option>
              <option value="Windows/Doors">Windows/Doors</option>
              <option value="Roof">Roof</option>
              <option value="Remodel">Remodel</option>
              <option value="A/C">A/C</option>
              <option value="Other">Other</option>
            </select>
      </div>

      <div class="form-group px-8">
        <label for="project_payment_method">Payment Method</label>
        <br>
        <select class="form-control" name="project[payment_method]" id="project_payment_method">
          <option disabled selected value> -- Select an option -- </option>
          <option>Ygrene</option>
          <option>Renew</option>
          <option>Fortifi</option>
          <option>Cash</option>
          <option>Other</option>
        </select>
      </div>

      <div id="invalid-category" class="hidden">
        <div class=" container display-4" style="font-size:300%; color:red;">
          Must Include Project Type.
        </div>
      </div>


      <div class="form-group px-8">
             <label for="project_status">Status</label>
             <select class="form-control" name="project[status]" id="project_status">
               <option disabled selected> -- Select an option -- </option>
               <option>Uninitiated</option>
               <option>Signed</option>
               <option>Material List</option>
               <option>Permit Package</option>
               <option>Approved</option>
               <option>Rejected</option>
               <option>Scheduling</option>
               <option>In Progress</option>
               <option>Completed</option>
             </select>
       </div>



      <div class="form-group px-8">
        <%= f.label :description %>
        <%#= f.text_area :description, class:"form-control", placeholder: "Description"%>
        <%= f.text_area :description, class:"form-control" %>
      </div>

      <hr>

     <%#= f.submit "Add Project", class:"btn btn-primary"%>
     <div class="actions text-center container before-submit">
       <%= button_tag(type: 'submit', id: "formBtn") do %>
        Create Project
       <% end %>
     </div>
<% end %> <!-- Project Form End -->
