<% projectable.projects.reverse.each do |project| %>

<div class="card">

  <%#= link_to "#{project.title}", project %>
  <span class="p-2">

    <span class="p-2">
      <span class="float-left">
        <%= project.status %>
      </span>

      <span class="float-right">
        <%= link_to "View", project %>
      </span>
    </span>


    <br>

    <div class="text-center" style="font-size:130%;">
      <%= project.title %> <%= project.category %>
      <br>
      <%= project.payment_method %>
    </div>

    <br>
  </span>

</div>


  <br>

<% end %>
