  <span class="display-4 text-center">
    <strong>
    <p style="font-size:50%;">
      <%=  @client.projects.count %> <%= "#{@client.projects.size == 1 ? 'Project:' : 'Projects:'}"%>
    </p>
  </strong>
  <hr>
  <!-- Project Modal Button -->
  <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
    Add Project
  </button>
  <!-- Project Modal Begin -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
             New Project for <%= @client.name %>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <!-- Project Form -->
          <div class="display-4 text-center">
            <%= render partial: "projects/form", locals: {projectable: @client}%>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Project Modal End -->
  </span>
<% projectable.projects.each do |project| %>
  <%#= link_to "#{project.title}", project %>
<hr>

<span class="-my-4 mx-2">


    <span class="p-4">
      <span class="float-right">
        <%= link_to "View", project %>
      </span>
    </span>

    <div class="text-center">
      <span class="">
        <span>
          <%= project.title %>
        </span>
          <br>
        <span>
          <%= project.category %>
        </span>
          <br>
        <span>
          <%= project.payment_method %>
        </span>
          <br>
        <!-- Project Status -->
        <% if ( project.status ==  "Uninitiated" ) %>
          <span style="color:grey;" >
            Inactive
          </span>
          <br>

        <% elsif ( project.status ==  "Completed" ) %>
          <span style="color:green;">
            Completed
          </span>
          <br>

        <% elsif ( project.status ==  "Material List" ) %>
          <span style="color:green;">
            Material List
          </span>
          <br>

        <% elsif ( project.status ==  "Rejected" ) %>
          <span style= "color:red;">
            Rejected
          </span>
          <br>

        <% else %>
          <span style="color:grey;">
            n/a
          </span>
          <br>
        <% end %>


      </span>
    </div>

  </span>



    <br>
<% end %>

<% if (projectable.projects.count < 4) && (projectable.projects.count <= 0 ) %>
  <span> <hr> </span>
<% end %>
