<!-- <p id="notice"><%#= notice %></p> -->
<div class="card container text-center">
<br>
<div class="display-4 text-center py-5"> My Projects
  <div style="font-size:60%;">
    <%=  @projects.count %> <%= "#{@projects.size == 1 ? 'Project' : 'Projects'}"%>
  </div>
</div>
<hr>

<br>

<% @projects.each do |project| %>
      <div class="card">
        <br>

        <div class="field display-4"  style="font-size:200%;">

          <%= project.category.capitalize %> Project for <%= project.projectable.name %>
          <br>


        <div style="font-size:60%;">
        <%= project.projectable.phone_number %>
        </div>
        <div style="font-size:60%;">
        <%= project.projectable.email %>
        </div>
        <div style="font-size:60%;">
        <%= project.projectable.full_street_address %>
        </div>


      </div>


      <div>

      <br>
      <%= link_to 'View Client', project.projectable, class:"btn btn-outline-primary", style: 'color:blue' %>


      <%= link_to 'View Project', project, class:"btn btn-outline-primary", style: 'color:blue' %>
      <br>
      <br>
      </div>
    </div>
    <br>
<% end %>

<br>

</div>

 <br>
<div class="text-center">
<%= link_to 'Back', :back, class:"btn btn-primary", style: 'color:#FFFFFF;' %>
</div>
<br>
