<div class="card container">

<div class="display-4 text-center">

  <span class="float-left pt-2 pl-2" style="font-size:40%;">
    <% if ( @project.status ==  "Uninitiated" ) %>

      <p style="color:grey;" >
        Inactive
      </p>

    <% elsif ( @project.status ==  "Completed" ) %>

      <p style="color:green;">
        Completed
      </p>

    <% elsif ( @project.status ==  "Rejected" ) %>

      <p style= "color:red;">
        Rejected
      </p>

    <% else %>

      <p style="color:green;">
        <%= @project.status %>
      </p>

    <% end %>
  </span>

  <br>




  <%= @project.title.capitalize %>

  <% if @project.description.present? %>
      <p style="font-size:50%;">
        <%= @project.description %>
      </p>
  <% end %>



  <div class="card" style="font-size:50%;">

    <%#= link_to "#{project.title}", project %>
    <span class="p-2">

      <span class="p-2">





      </span>


      <br>

      <div class="text-center">

        <% if @project.title %>
          <strong>Project Title:</strong> <%= @project.title %> <br>
        <% end %>

        <% if @project.category %>
          <strong>Project Type:</strong> <%= @project.category %> <br>
        <% end %>

        <% if @project.payment_method %>
          <strong>Payment Method:</strong> <%= @project.payment_method %> <br>
        <% end %>


        <% if @project.estimated_cost %>
          <strong>Estimated Cost:</strong> $<%= @project.estimated_cost %> <br>
        <% end %>



        <% if @project.cost %>
          <strong>Cost:</strong> $<%= @project.cost %> <br>
        <% end %>

      </div>

      <br>
    </span>

  </div>






</div>

<!-- Nested Forms Vid -->

<!-- https://www.youtube.com/watch?v=3fYQd1jSyag&list=PLRydhfFqzAnNnbtn7JxheZhtizP1o7AwF&index=3 -->

<hr>

<div class="text-center">
<%= link_to 'Edit Project', edit_project_path(@project), class:"btn btn-outline-secondary" %>
  <br><br>
    <div class="card container">
    <br>

    <% if @project.address.present? %>
    <strong>Address:</strong>
    <%= @project.full_street_address %></a>

    <br><br>
    <div id="map"></div>
    <br>

    <% else %>

    <div class="display-4 text-center py-5">
      <div style="font-size:60%;">
        Project Address Not Available.
        <br>
        Click <%= link_to 'Here', edit_project_path(@project) %> to Add Project Address

      </div>
    </div>


    <% end %>
  </div>
  <br>
  <%= render partial: "comments/comments", locals: {commentable: @project}%>

  <br>


</div>



</div>
<br>
<div class="text-center">
  <%= link_to 'Back', :back, class:"btn btn-primary", style: 'color:#FFFFFF;' %>
</div>


<script type="text/javascript">

var lat = <%= @project.lat %>;
var lng = <%= @project.lng %>;

// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat, lng};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 14, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUrlQaMPYAMf2W6vaHFF7ufv-Bp6A7dZo&callback=initMap">
</script>
