<div class="card container">

<div class="display-4 text-center py-5">
  <%= @project.category.capitalize %> Project for <%= @project.projectable.name %>

  <% if @project.description.present? %>
      <p style="font-size:80%;">
        <%= @project.description %>
      </p>
  <% end %>

</div>

<!-- Nested Forms Vid -->

<!-- https://www.youtube.com/watch?v=3fYQd1jSyag&list=PLRydhfFqzAnNnbtn7JxheZhtizP1o7AwF&index=3 -->
<br>

<hr>

<div class="text-center">
<%= link_to 'Edit Project', edit_project_path(@project), class:"btn btn-outline-secondary" %>
  <br><br>
    <div class="card container">
    <br>

    <% if @project.address.present? %>
    <strong>Address:</strong>
    <%= @project.full_street_address %></a>

    <br><br>
    <div id="map"></div>
    <br>

    <% else %>

    <div class="display-4 text-center py-5">
      <div style="font-size:60%;">
        Project Address Not Available.
        <br>
        Click <%= link_to 'Here', edit_project_path(@project) %> to Add Project Address

      </div>
    </div>


    <% end %>
  </div>
  <br><br>


</div>



</div>
<br>
<div class="text-center">
  <%= link_to 'Back', :back, class:"btn btn-primary", style: 'color:#FFFFFF;' %>
</div>


<script type="text/javascript">

var lat = <%= @project.lat %>;
var lng = <%= @project.lng %>;

// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat, lng};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 14, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUrlQaMPYAMf2W6vaHFF7ufv-Bp6A7dZo&callback=initMap">
</script>
