<!DOCTYPE html>
<html>
  <head>
    <title>PropertyBuddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>

  <body>

    <% if current_page?(root_path) %>
      <%= yield %>
    <% else %>
      <%= render "layouts/nav" %>
      <p class="notice" style="color:green;"><%= notice %></p>
      <p class="alert" style="color:red;"><%= alert %></p>

      <div class="container py-5">
        <%= yield %>
      </div>
    <% end %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  </body>
</html>
